 <div class="user-details">
  <h1> About me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Interest</h2>
      <img alt="AI" src="{{ "/assets/img/AI.jpeg" | prepend: site.baseurl }}" width="90px" height="90px"/>
      <img alt="NN" src="{{ "/assets/img/NN.jpeg" | prepend: site.baseurl }}" width="90px" height="90px"/>
      <img alt="ES" src="{{ "/assets/img/ES.png" | prepend: site.baseurl }}" width="90px" height="90px"/>
      <p>Data Processing, Image Processing, Machine Learning, Deep Learning, Computer Vision, VR, AR, Embedded Systems and IoT</p>
    </div>
    <div class="tech">
      <h2>Code and Tools</h2>
      <i class="devicon-c-line-wordmark colored"></i>
      <i class="devicon-cplusplus-line-wordmark colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-linux-plain"></i>
      <p>C, C++, CUDA, Python, Javascript, Java, SQL, PHP, Haskell, Assembly Language, Arduino, VHDL, Shell Scripting</p>
      <p>Linux, GitHub, Sublime Text, QT5, Okular, Opera</p>
    </div>
</div>
