<div id="particles-js">
  <div class="header">
      <h1>
        <model-viewer src="/assets/img/3D_seun/1644502411554.gltf" loading="eager" ar="" ar-modes="webxr scene-viewer quick-look" seamless-poster="" shadow-intensity="1" camera-controls auto-rotate style="width:300px; height:300px; display: inline-block; --poster-color: transparent;" ar-status="not-presenting"></model-viewer>
        <span class="site-title"> Hi, I'm {{site.username}}</span>
        <!-- <span class="site-description">{{site.user_title}}</span> -->
      </h1>
      <hr style="width: 100%; background-color: #f2f2f2; border-color: #f2f2f2;">
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:oluwaseunojeleye@pm.me"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/OluwaseunOjeleye"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="My Linkedin" target="_blank" href="https://linkedin.com/in/oluwaseun-ojeleye-438712168"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
