<div class="user-details">
  <h1> Projects </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="Spectral and Color Reconstruction" src="{{ "/assets/img/Color_Reconstruction.png" | prepend: site.baseurl }}" /><br>
  </div>
  <div class="contents">
    <h3>Spectral and Color Reconstruction</h3>
    <ul>
    <li>Reconstruction: HTML, CSS, Javascript, three.js, WebGL 2.0 and GLSL</li>
    <li>Preprocessing and Precomputation: Python, White Correction, PCA and Colorimetry</li>
    </ul>
    <p> This project involves spectral and color reconstruction of Hyperspectral Images based on Principal Component Analysis (PCA).<br>
      <a target="_blank" rel="noopener noreferrer" class="project-link" href="https://oluwaseunojeleye.github.io/Spectral_and_Color_Reconstruction/">App</a>
      <a target="_blank" rel="noopener noreferrer" class="project-link" href="https://github.com/OluwaseunOjeleye/Spectral_and_Color_Reconstruction">Code</a>
      <a target="_blank" rel="noopener noreferrer" class="project-link" href="https://github.com/OluwaseunOjeleye/Spectral_and_Color_Reconstruction/blob/main/Documentation.pdf">PDF</a>
    </p>
  </div>
</div>

<hr>

<div class="user-projects">
  <div class="images-left">
    <img alt="Volume Rendering" src="{{ "/assets/img/Volume_1.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Volume (Hyperspectral Image) Rendering </h3>
    <ul>
    <li>Volume Rendering: HTML, CSS, Javascript, three.js, WebGL 1.0, GLSL and Ray Casting</li>
    <li>Preprocessing: Python, White Correction and Segmentation</li>
    </ul>
    <p>This project involves the rendering of hyperspectral images as volume using raycasting algorithm.<br>
      <a target="_blank" rel="noopener noreferrer" class="project-link" href="https://oluwaseunojeleye.github.io/Volume-HSI-Rendering/Index.html">App</a>
      <a target="_blank" rel="noopener noreferrer" class="project-link" href="https://github.com/OluwaseunOjeleye/Volume-HSI-Rendering">Code</a>
      <a target="_blank" rel="noopener noreferrer" class="project-link" href="https://github.com/OluwaseunOjeleye/Volume-HSI-Rendering/blob/main/documentation.pdf">PDF</a>
    </p>
  </div>
</div>

<hr>

<div class="user-projects">
  <div class="images-right">
    <img alt="Sprint App" src="{{ "/assets/img/VR.png" | prepend: site.baseurl }}" /><br>
    <img alt="Sprint App" src="{{ "/assets/img/VR_3.png" | prepend: site.baseurl }}" />
    <center> 
      Sprint VR <a target="_blank" rel="noopener noreferrer" class="project-link" href="https://oluwaseunojeleye.github.io/Sprint_VR/index.html">App</a>
      <a target="_blank" rel="noopener noreferrer" class="project-link" href="https://github.com/OluwaseunOjeleye/Sprint_VR">Code</a>
    </center> 

  </div>
  <div class="contents">
    <h3>Real time 3D Visualization</h3>
    <ul>
    <li>HTML, CSS, Javascript, three.js, WebGL and GLSL</li>
    </ul>
    <p> This project consist of two web applications I implemented while learning real-time 3D rendering for virtual reality (VR) and GPU programming with shaders. These applications are: <br>
      <img alt="Cornel App" src="{{ "/assets/img/VR_2.png" | prepend: site.baseurl }}" />
      <center>
        Cornel VR <a target="_blank" rel="noopener noreferrer" class="project-link" href="https://oluwaseunojeleye.github.io/Cornel_VR/index.html">App</a>
          <a target="_blank" rel="noopener noreferrer" class="project-link" href="https://github.com/OluwaseunOjeleye/Cornel_VR">Code</a>
      </center> 
    </p>
  </div>
</div>

<hr>

<div class="user-projects">
  <div class="images-left">
    <img alt="AR App" src="{{ "/assets/img/AR_App.png" | prepend: site.baseurl }}" /><br>
    <img alt="Sprint App" src="{{ "/assets/img/AR_App_2.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>AR App: Camera Calibration using a Rectangular Marker</h3>
    <ul>
    <li>C++, OpenGL and Visual Studio</li>
    </ul>
    <p>This project involves the development of a desktop application designed for camera calibration using rectangular markers for augmented reality (AR) applications.  
        This software implementation leverages advanced image processing and computer vision algorithms to accurately compute both the intrinsic camera parameters (projection matrix) and extrinsic parameters (rotation and translation) required for precise rendering of virtual objects within a real-world environment.<br>
        <br>The implementation is based on a straightforward approach, which involves the following steps:<br>
        • Acquisition of video frames from the camera. <br>        
        • Detection of a marker in the image using advanced computer vision techniques.<br>
        • Computation of the homography matrix using the points of the detected square and a template image.<br>
        • Decomposition of the homography matrix to obtain the extrinsic parameters, including the rotation matrix and translation vector.<br>
        • Rendering of virtual objects in the world coordinate system using the computed parameters.<br>
        <a target="_blank" rel="noopener noreferrer" class="project-link" href="https://www.youtube.com/watch?v=oMAx4KyZJhU">Demo Video</a>
        <a target="_blank" rel="noopener noreferrer" class="project-link" href="https://github.com/OluwaseunOjeleye/AR-App-Camera-Calibration-using-a-Rectangular-Marker">Code</a></p>
  </div>
</div>

<hr>

<div class="user-projects">
  <div class="images-right">
    <img alt="IP App" src="{{ "/assets/img/IP.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Image Processing on CPU and GPU Using Shader (GLSL), OpenMP and CUDA</h3>
    <ul>
    <li>HTML, CSS, Javascript, three.js, WebGL 2.0, C, C++, OpenMP and CUDA</li>
    </ul>
    <p>This project is a comprehensive image processing tool that offers parallelization techniques for both the CPU and GPU to optimize image processing tasks. It is composed of four sub-projects: <br>
      • Shader (GLSL and WebGL-based image processing).<a target="_blank" rel="noopener noreferrer" class="project-link" href="https://oluwaseunojeleye.github.io/Image-Processing-Shader-based-/">Code</a><br> 
      • Multithreading using OpenMP.<br>  
      • CUDA-based image processing.<br>
      • CUDA with shared memory for improved performance.<br>
      Each sub-project offers a diverse range of options for image processing tasks that demand high performance and scalability. With its focus on parallel computing, this project is an indispensable tool for any image processing project that requires quick and efficient processing.
    <a target="_blank" rel="noopener noreferrer" class="project-link" href="https://oluwaseunojeleye.github.io/Image-Processing-Shader-based-/">APP</a></p>
  </div>
</div>


<hr>

<div class="user-projects">
  <div class="images-left">
    <img alt="RXR" src="{{ "/assets/img/rxr.png" | prepend: site.baseurl }}" />
    <img alt="RXR" src="{{ "/assets/img/rxr2.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Indoor Environment Mapping Robot (IEMR)</h3>
    <ul>
    <li>ROS, SLAM, VR and Unity</li>
    </ul>
    <p>This project involves the development of a ROS based teleoperation Robot that models indoor evironment in virtual reality space. Microcontrollers used: Raspberry Pi 3, OpenCR and Intel Joule 570X. Sensors and actuators such as Lidar and Dynamixel motors were interfaced with the microcontrollers.<br>
      <a target="_blank" rel="noopener noreferrer" class="project-link" href="https://www.youtube.com/watch?v=f0qDkP9X4FU">Demo Video</a>
      <a target="_blank" rel="noopener noreferrer" class="project-link" href="https://github.com/OluwaseunOjeleye/IEMR">Code</a></p>
  </div>
</div>

<hr>

<div class="user-projects">
  <div class="images-right">
    <img alt="MLP App" src="{{ "/assets/img/mlp.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>2D Multilayer Perceptron Simulator</h3>
    <ul>
    <li>C++ and Visual Studio</li>
    </ul>
    <p>This project involves the implementation of a desktop‐based Multilayer Perceptron simulation and visualization tool. It was developed using Visual C++ and it can be used for learning and understanding Neural Network concepts. <br>
    <a target="_blank" rel="noopener noreferrer" class="project-link" href="https://github.com/OluwaseunOjeleye/2D-Multilayer-Perceptron-Simulator">Code</a></p>
  </div>
</div>

<hr>

<div class="user-projects">
  <div class="images-left">
    <img alt="IP App" src="{{ "/assets/img/fig1.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Object Detection and Classification Using Geometric Invariant Moment and Supervised Learning</h3>
    <ul>
    <li>C++ and QT5</li>
    </ul>
    <p>This project consist of the implementation of objects detection and classification program which detects and classifies objects(such as rice, beans, etc.) based on their geometric shape. It includes the implementation of machine and image processing techniques and methods such as Noise Filter, Image Segmentation, Morphological Image Processing, Labeling, Bounding, Feature Extraction, Feature Analysis and Supervised Learning. <br>
    <a target="_blank" rel="noopener noreferrer" class="project-link" href="https://github.com/OluwaseunOjeleye/Image-Processing-App/blob/master/Report.pdf">PDF</a>
    <a target="_blank" rel="noopener noreferrer" class="project-link" href="https://github.com/OluwaseunOjeleye/Image-Processing-App">Code</a></p>
  </div>
</div>

<hr>

<div class="user-projects">
  <div class="images-right">
    <img alt="Image Annotator" src="{{ "/assets/img/AT.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Image Annotation Tool</h3>
    <ul>
    <li>C++ and Visual Studio</li>
    </ul>
    <p>This is the development of a graphical image labeling tool that allows users to create, import, view, correct and generate annotations based on formats such as YOLO Format<br>
    <a target="_blank" rel="noopener noreferrer" class="project-link" href="https://youtu.be/ChJDHhE3r6A">Demo Video</a>
    <a target="_blank" rel="noopener noreferrer" class="project-link" href="https://github.com/OluwaseunOjeleye/Image-Annotator">Code</a></p>
  </div>
</div>

<hr>

<div class="user-projects">
  <div class="images-left">
    <img alt="HSI" src="{{ "/assets/img/hsi_1.png" | prepend: site.baseurl }}" /><br>
    <img alt="HSI" src="{{ "/assets/img/hsi_2.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Hyperspectral Image Analysis</h3>
    <ul>
    <li>Python and Spectral Imaging</li>
    </ul>
    <p>This project consists of my codes for hyperspectral image processing and analysis. I have used different hyperspectral camera for taking spectral images of different materials and objects for various analysis such as analysing paintings'
      blue dyes, etc. These cameras include:<br>
      • Specim Scanner &emsp;• Specim IQ <br>
      • Nuance &emsp;&emsp;&emsp;&emsp;&emsp; • Tunable Light Source<br>
      The most common operations I performed on the gathered hyperspectral images during these analysis are:<br>
      • White & Dark Correction &emsp; • Segmentation <br>
    <a target="_blank" rel="noopener noreferrer" class="project-link" href="https://github.com/OluwaseunOjeleye/Spectral-Imaging">Code</a></p>
  </div>
</div>

<hr>

<div class="user-projects">
  <div class="images-right">
    <img alt="eyetracking" src="{{ "/assets/img/eyetracking.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Eye Tracking</h3>
    <ul>
    <li>Python and Data Analysis</li>
    </ul>
    <p>The objective of this project is to learn how to analyse and visualize eye-tracking data. The dataset consists of rows (one row per one session and one subject) of raw gaze locations (x, y) recorded in time. Subjects have multiple rows/samples
      in the dataset. A fixation algorithm was used to get a better understanding of what the participants were fixating or focusing on while partaking in the experiment.<br>
    <a target="_blank" rel="noopener noreferrer" class="project-link" href="https://github.com/OluwaseunOjeleye/Eye-Tracking">Code</a></p>
  </div>
</div>

<hr>

<div class="user-projects">
  <div class="images-left">
    <img alt="FD App" src="{{ "/assets/img/yolo.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Real-time Face Detection and Gender Classification</h3>
    <ul>
    <li>C, C++, CUDA and Visual Studio</li>
    </ul>
    <p>This project consists of the implementation of a real-time face detector and gender classifier using an optimized Darknet Library. This optimized version of the darknet library was created for inference only. For accurate detection of faces closer or farther from the camera, the model was created by applying transfer learning using YOLOv3 and training on a modified FDDB dataset.<br>
    <a target="_blank" rel="noopener noreferrer" class="project-link" href="https://github.com/OluwaseunOjeleye/Real-Time-Human-Gender-Detection">Code</a></p>
  </div>
</div>

<hr>

<div class="user-projects">
  <div class="images-right">
    <img alt="Line and Circle Detection" src="{{ "/assets/img/fig2.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Line and Circle Detection Using Hough Transform</h3>
    <ul>
    <li>C++ and QT5</li>
    </ul>
    <p>This project consist of the implementation of lines and circles detection program using Hough Transform. This project is the extension of the former project's (Object detecting and classifying application) components. Processes such as Smoothing, Edge detection, Non-maximum Suppression, Hysteresis thresholding, etc. are implemented in this project.<br>
    <a target="_blank" rel="noopener noreferrer" class="project-link" href="https://github.com/OluwaseunOjeleye/Image-Processing-App/blob/master/Report.pdf">PDF</a>
    <a target="_blank" rel="noopener noreferrer" class="project-link" href="https://github.com/OluwaseunOjeleye/Image-Processing-App">Code</a></p>
  </div>
</div>

<hr>

<div class="user-projects">
  <div class="images-left">
    <img alt="ANN" src="{{ "/assets/img/ANN.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Artificial Neural Network Library</h3>
    <ul>
    <li>C++</li>
    </ul>
    <p>In this project, I wrote a simple neural network library that implements a multilayer perceptron. This library was written in C++ and the implementation was tested by building a simple Neural Network Model to solve the XOR problem.  <br>
    <a target="_blank" rel="noopener noreferrer" class="project-link" href="https://github.com/OluwaseunOjeleye/Machine-Learning-and-Deep-Learning-Projects/tree/master/ANN">Code</a></p>
  </div>
</div>

<hr>

<div class="user-projects">
  <div class="images-right">
    <img alt="FIR Audio Filter" src="{{ "/assets/img/FIR.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>FIR Audio Filter</h3>
    <ul>
    <li>C </li>
    </ul>
    <p>This is the implementation of a program that can perform low or high pass filtering on "wav" audio files using Filter Impulse Response (FIR) filters with different window types.<br>
    <a target="_blank" rel="noopener noreferrer" class="project-link" href="https://github.com/OluwaseunOjeleye/FIR-Filter">Code</a>
    <a target="_blank" rel="noopener noreferrer" class="project-link" href="http://www.labbookpages.co.uk/audio/firWindowing.html">Reference</a></p>
  </div>
</div>

<hr>

<div class="user-projects">
  <div class="images-left">
    <img alt="SMS" src="{{ "/assets/img/SMS.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>SMS Movie Suggester Web App</h3>
    <ul>
    <li>React, Django, Axios, and NLTK</li>
    </ul>
    <p>This is a software engineering project that involves the development of a movie recommendation web-based application that recommends movies (using a content-based filtering algorithm) to a user.<br>
    <a target="_blank" rel="noopener noreferrer" class="project-link" href="https://github.com/OluwaseunOjeleye/SMS/blob/master/Final%20Report%20SE.pdf">PDF</a>
    <a target="_blank" rel="noopener noreferrer" class="project-link" href="https://github.com/OluwaseunOjeleye/SMS">Code</a></p>
  </div>
</div>

<hr>

<div class="user-projects">
  <div class="images-right">
    <img alt="KTU NET" src="{{ "/assets/img/KTU_NET.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>KTU NET</h3>
    <ul>
    <li>PHP, Javascript, HTML, CSS, and MySQL</li>
    </ul>
    <p>This is a Database Management Project that involves the development of a social networking web application which graduates, alumni, and professors of a university’s department can use to connect and share information such as job, internship and other opportunities among one another from every corner of the world. <br>
    <a target="_blank" rel="noopener noreferrer" class="project-link" href="https://github.com/OluwaseunOjeleye/School-Projects/tree/master/DBMS">PDF</a></p>
  </div>
</div>

<hr>


<div class="user-projects">
  <div class="images-left">
    <img alt="Hex" src="{{ "/assets/img/hex.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Bots for Hex Board Game</h3>
    <ul>
    <li>C++ and QT5</li>
    </ul>
    <p>This project involves the development of a bot for Hex board Game.<br>
      Completed Tasks:
      <ul>
        <li>development of board game on QT5 platform</li>
      </ul>
      <br>
      Uncompleted Tasks:
      <ul>
        <li>creation of Hex engine using Monte-Carlo tree search</li>
      </ul>
  </div>
</div>
