<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="IP App" src="{{ "/assets/img/fig1.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Object Detection and Classification Using Geometric Invariant Moment and Supervised Learning</h3>
    <p>This project consist of the implementation of objects detection and classification program which detects and classifies objects(such as rice, beans, etc.) based on their geometric shape. It includes the implementation of machine and image processing techniques and methods such as Noise Filter, Image Segmentation, Morphological Image Processing, Labeling, Bounding, Feature Extraction, Feature Analysis and Supervised Learning. <br>
    <a class="project-link" href="https://github.com/OluwaseunOjeleye/Objects-Detection-and-Classification---Line-and-Circle-Detection-App/blob/master/Report.pdf">PDF</a>
    <a class="project-link" href="https://github.com/OluwaseunOjeleye/Objects-Detection-and-Classification---Line-and-Circle-Detection-App">Code</a></p>
  </div>
</div>

<hr>

<div class="user-projects">
  <div class="images-left">
    <img alt="Line and Circle Detection" src="{{ "/assets/img/fig2.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Line and Circle Detection Using Hough Transform</h3>
    <p>This project consist of the implementation of lines and circles detection program using Hough Transform. This project is the extension of the former project's (Object detecting and classifying application) components. Processes such as Smoothing, Edge detection, Non-maximum Suppression, Hysteresis thresholding, etc. are implemented in this project.<br>
    <a class="project-link" href="https://github.com/OluwaseunOjeleye/Objects-Detection-and-Classification---Line-and-Circle-Detection-App/blob/master/Report.pdf">PDF</a>
    <a class="project-link" href="https://github.com/OluwaseunOjeleye/Objects-Detection-and-Classification---Line-and-Circle-Detection-App">Code</a></p>
  </div>
</div>

<hr>

<div class="user-projects">
  <div class="images-right">
    <img alt="ANN" src="{{ "/assets/img/ANN.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Artificial Neural Network Implementation in C++ From Scratch</h3>
    <p>In this project, Artificial Neural Network was implemented in C++ without the use of any matrix library. <br>
    <a class="project-link" href="https://github.com/OluwaseunOjeleye/Machine-Learning-and-Deep-Learning/tree/master/ANN">Code</a></p>
  </div>
</div>

<hr>

<div class="user-projects">
  <div class="images-left">
    <img alt="SMS" src="{{ "/assets/img/SMS.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>SMS Movie Suggester Web App</h3>
    <p>This is a software engineering project involves the development of a movie recommendation web-based application that recommends movies (using a content-based filtering algorithm) to a user.<br>
    <a class="project-link" href="https://github.com/OluwaseunOjeleye/SMS/blob/master/Final%20Report%20SE.pdf">PDF</a>
    <a class="project-link" href="https://github.com/OluwaseunOjeleye/SMS">Code</a></p>
  </div>
</div>

<hr>

<div class="user-projects">
  <div class="images-right">
    <img alt="KTU NET" src="{{ "/assets/img/KTU_NET.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>KTU NET</h3>
    <p>This is a Database Management Project that consist of the development of a social networking web application which graduates, alumni, and professors of a university’s department can use to connect and share information such as job, internship and other opportunities among one another from every corner of the world. <br>
    <a class="project-link" href="https://github.com/OluwaseunOjeleye/School-Projects/tree/master/DBMS">PDF</a></p>
  </div>
</div>

<hr>


<div class="user-projects">
  <div class="images-left">
    <img alt="Hex" src="{{ "/assets/img/hex.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Bots for Hex Board Game</h3>
    <p>This project involves the development of a bot for Hex board Game.<br>
      Completed Tasks:
      <ul>
        <li>development of board game on QT5 platform</li>
      </ul>
      <br>
      Uncompleted Tasks:
      <ul>
        <li>creation of Hex engine using Monte-Carlo tree search</li>
      </ul>
  </div>
</div>
